*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 290px;
    margin:50px 0px;
    overflow: hidden;
    border-radius: 10px;
}

.car-section{
    color:hsla(0, 0%, 100%, 0.75);
    padding:30px;
    .car-logo {
        margin-bottom: 20px;
    }
    .title{
        font-size: 40px;
        font-family: 'Big Shoulders Display', sans-serif;
        margin-bottom: 20px;
        color:hsl(0, 0%, 95%);
    }
    .description{  
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    .learn-more--btn{
        font-weight: bold;
        padding:10px 25px;
        border: none;
        border-radius: 50px;
    }
}
.car-section:first-child{
    background-color: hsl(31, 77%, 52%);
    .learn-more--btn {
        color: hsl(31, 77%, 52%);
    }
}
.car-section:nth-child(2){
    background-color: hsl(184, 100%, 22%);
    .learn-more--btn{
        color: hsl(184, 100%, 22%);
    }
}
.car-section:last-child{
    background-color: hsl(179, 100%, 13%);
    .learn-more--btn{
        color:hsl(179, 100%, 13%) ;
    }
}